.col1 {
    width: 220px;
    height: auto;
    left: 164px;
    top: 249px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    @media only screen and (max-width: 1440px) {
        width: 200px;
        height: auto;
        left: 154px;
        top: 249px;
    }
}

.col2 {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.col2_item {
    display: flex;
    flex-direction: column;
    background: rgba(54, 60, 63, 0.7);
    border-radius: 20px;
    box-sizing: border-box;
    border: 5px rgba(43, 45, 46, 0.87) solid;
    width: 110px;
    margin: 20px;

    @media only screen and (max-width: 1920px) {
        width: 95px;
        margin: 30px 3px 40px 3px;
    }

    @media only screen and (max-width: 1600px) {
        width: 94px;
        margin: 30px 3px 40px 3px;
    }

    @media only screen and (max-width: 1440px) {
        width: 84px;
        margin: 30px 3px 40px 3px;
    }

    @media only screen and (max-width: 1366px) {
        width: 70px;
        margin: 30px 3px 40px 3px;
    }

    @media only screen and (max-width: 1280px) {
        width: 60px;
        margin: 30px 1px 40px 1px;
    }
}

.col2_item_type2 {
    display: flex;
    flex-direction: column;
    background: rgba(54, 60, 63, 0.7);
    border-radius: 20px;
    box-sizing: border-box;
    // border: 5px rgba(43, 45, 46, 0.87) solid;
    width: 110px;
    margin: 20px;
    background: linear-gradient(#283236, #283236) padding-box,
        linear-gradient(to bottom, rgb(90, 90, 90), #283236) border-box;
    // border-radius: 50em;
    border: 4px solid transparent;

    @media only screen and (max-width: 1920px) {
        width: 95px;
        margin: 30px 3px 40px 3px;
    }

    @media only screen and (max-width: 1600px) {
        width: 94px;
        margin: 30px 3px 40px 3px;
    }

    @media only screen and (max-width: 1440px) {
        width: 84px;
        margin: 30px 3px 40px 3px;
    }

    @media only screen and (max-width: 1366px) {
        width: 70px;
        margin: 30px 3px 40px 3px;
    }

    @media only screen and (max-width: 1280px) {
        width: 60px;
        margin: 30px 1px 40px 1px;
    }
}

.col2_item_type3 {
    display: flex;
    flex-direction: column;
    // background: rgba(54, 60, 63, 0.7);
    border-radius: 20px;
    box-sizing: border-box;
    // border: 5px rgba(43, 45, 46, 0.87) solid;
    width: 110px;
    margin: 20px;
    background: linear-gradient(#2d2a43, #2d2a43) padding-box,
        linear-gradient(to bottom, #2d2a43ab, #2d2a43) border-box;
    // border-radius: 50em;
    border: 4px solid transparent;

    @media only screen and (max-width: 1920px) {
        width: 95px;
        margin: 30px 3px 40px 3px;
    }

    @media only screen and (max-width: 1600px) {
        width: 94px;
        margin: 30px 3px 40px 3px;
    }

    @media only screen and (max-width: 1440px) {
        width: 84px;
        margin: 30px 3px 40px 3px;
    }

    @media only screen and (max-width: 1366px) {
        width: 70px;
        margin: 30px 3px 40px 3px;
    }

    @media only screen and (max-width: 1280px) {
        width: 60px;
        margin: 30px 1px 40px 1px;
    }
}

.col2_item_type4 {
    display: flex;
    flex-direction: column;
    // background: rgba(54, 60, 63, 0.7);
    border-radius: 20px;
    box-sizing: border-box;
    // border: 5px rgba(43, 45, 46, 0.87) solid;
    width: 110px;
    margin: 20px;
    background: linear-gradient(#1c1421, #1c1421) padding-box,
        linear-gradient(to bottom, #615c65, #1c14216c) border-box;
    // border-radius: 50em;
    border: 4px solid transparent;

    @media only screen and (max-width: 1920px) {
        width: 95px;
        margin: 30px 3px 40px 3px;
    }

    @media only screen and (max-width: 1600px) {
        width: 94px;
        margin: 30px 3px 40px 3px;
    }

    @media only screen and (max-width: 1440px) {
        width: 84px;
        margin: 30px 3px 40px 3px;
    }

    @media only screen and (max-width: 1366px) {
        width: 70px;
        margin: 30px 3px 40px 3px;
    }

    @media only screen and (max-width: 1280px) {
        width: 60px;
        margin: 30px 1px 40px 1px;
    }
}

.col2_item_text {
    color: white;

    @media only screen and (max-width: 1366px) {
        font-size: 13px;
    }

    @media only screen and (max-width: 1280px) {
        font-size: 10px;
    }
}

.col2_item_img {
    height: 20px;
    width: 20px;
    margin-right: 2px;
    justify-content: center;

    @media only screen and (max-width: 1366px) {
        height: 15px;
        width: 15px;
        margin-right: 2px;
        justify-content: center;
        justify-self: center;
    }

    @media only screen and (max-width: 1280px) {
        height: 10px;
        width: 10px;
        margin-right: 2px;
    }
}

.col2_lock {
    position: absolute;
    right: 0px;
    bottom: 0px;
    height: 57px;
    width: 49px;

    @media only screen and (max-width: 1600px) {
        height: 40px;
        width: 29px;
    }

    @media only screen and (max-width: 1280px) {
        height: 37px;
        width: 29px;
    }
}

.col2_mark {
    position: absolute;
    right: 7px;
    bottom: 8px;
    height: 18px;
    width: 18px;
}

.col2_nums {
    display: flex;
    position: relative;
    height: 40px;
    width: 100%;
    justify-content: center;
    align-content: center;
}

.progress_container {
    position: relative;
    background-color: #363c3f;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.progresss {
    display: flex;
    position: absolute;
    width: 100%;
    background-color: #363c3f;
    clip-path: polygon(85px 0%, 100% 0%, 100% 100%, 85px 100%);

    @media only screen and (max-width: 1920px) {
        clip-path: polygon(55px 0%, 100% 0%, 100% 100%, 55px 100%);
    }

    @media only screen and (max-width: 1600px) {
        clip-path: polygon(45px 0%, 100% 0%, 100% 100%, 45px 100%);
    }

    @media only screen and (max-width: 1440px) {
        clip-path: polygon(35px 0%, 100% 0%, 100% 100%, 35px 100%);
    }

    @media only screen and (max-width: 1366px) {
        clip-path: polygon(25px 0%, 100% 0%, 100% 100%, 25px 100%);
    }

    @media only screen and (max-width: 1280px) {
        clip-path: polygon(25px 0%, 100% 0%, 100% 100%, 25px 100%);
    }
}

.progress_item {
    height: 20px;
    width: 100%;
    z-index: 1;
    background-color: #29b080;
}

.progress_item_start_active {
    height: 20px;
    width: 100%;
    z-index: 1;
    background-color: #29b080;
    // clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 100%);
}

.progress_item_active {
    height: 20px;
    width: 100%;
    z-index: 1;
    background-color: #29b080;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.progress_item_end {
    height: 20px;
    width: 100%;
    z-index: 1;
    background-color: #29b080;
    clip-path: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%);
}

.progress_item_inactive {
    height: 20px;
    width: 100%;
    z-index: 1;
    background-color: #363c3f;
}

.col2_progress_passed {
    position: relative;
    height: 20px;
    width: 100%;
    z-index: 1;
    background-color: #29b080;
    clip-path: polygon(50% 0%, 200% 0%, 100% 100%, 50% 100%);
}

.col3 {
    width: 340px;
    height: auto;
    display: flex;
    justify-content: center;
    position: relative;
}

.col3_image {
    object-fit: cover;
    border-radius: 25px;
}

.blure {
    position: absolute;
    width: 100%;
    // height: 100%;
    // top: 0px;
    // bottom: 0px;
    background: rgba(60, 60, 60, 0.8);
    backdrop-filter: blur(4px);
    /* Note: backdrop-filter has minimal browser support */
    top: 0px;
    bottom: 0px;
    border-radius: 24px;
    z-index: 20;

    @media only screen and (max-width: 1920px) {
    }

    @media only screen and (max-width: 1600px) {
    }

    @media only screen and (max-width: 1440px) {
    }

    @media only screen and (max-width: 1366px) {
    }

    @media only screen and (max-width: 1280px) {
    }
}

.rounded_lock {
    position: absolute;
    height: 150px;
    width: 150px;
    z-index: 21;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
