@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 100;
    src: url('/fonts/webfonts/Outfit-Thin.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 200;
    src: url('/fonts/webfonts/Outfit-ExtraLight.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/webfonts/Outfit-Light.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/webfonts/Outfit-Regular.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/webfonts/Outfit-Medium.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/webfonts/Outfit-SemiBold.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/webfonts/Outfit-Bold.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 800;
    src: url('/fonts/webfonts/Outfit-ExtraBold.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 900;
    src: url('/fonts/webfonts/Outfit-Black.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Outfit';
    font-size: 20px;
    /* height: 100vh; */
    /* width: 100vw; */
    overflow-x: hidden;
    background-color: #141414;
}

::-webkit-scrollbar {
    width: 6px;
    height: 1px;
    z-index: 190;
}
::-webkit-scrollbar-button {
    background-color: transparent;
    height: 0;
    z-index: 190;
}
::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0);
    z-index: 190;
}
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    z-index: 190;
}
::-webkit-scrollbar-corner {
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 190;
}
::-webkit-resizer {
    background-color: var(--primary-color);
    z-index: 190;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

* {
    transition: 0.1s ease-in;
}

.progress svg {
    width: 330px;
    height: 330px;
    transform: rotate(-90deg);
}

.progress svg circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke: rgba(255, 255, 255, 0.1);
    stroke-width: 6;
    stroke-linecap: round;
}

.progress svg circle:last-of-type {
    stroke-dasharray: 1005px;
    stroke-dashoffset: calc(1005px - (1005px * var(--percent)) / 100);
    stroke: #2ecc71;
}

@media screen and (max-width: 640px) {
    .progress svg {
        width: 210px;
        height: 210px;
        transform: rotate(-90deg);
    }

    .progress svg circle {
        width: 100%;
        height: 100%;
        fill: none;
        stroke: rgba(255, 255, 255, 0.1);
        stroke-width: 4;
        stroke-linecap: round;
    }

    .progress svg circle:last-of-type {
        stroke-dasharray: 628px;
        stroke-dashoffset: calc(628px - (628px * var(--percent)) / 100);
        stroke: #2ecc71;
    }
}

.register-progress svg {
    width: 210px;
    height: 210px;
    transform: rotate(-90deg);
}

.register-progress svg circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke: rgba(255, 255, 255, 0.1);
    stroke-width: 6;
    stroke-linecap: round;
}

.register-progress svg circle:last-of-type {
    stroke-dasharray: 628px;
    stroke-dashoffset: calc(628px - (628px * var(--percent)) / 100);
    stroke: #2ecc71;
}

@media screen and (max-width: 640px) {
    .register-progress svg {
        width: 210px;
        height: 210px;
        transform: rotate(-90deg);
    }

    .register-progress svg circle {
        width: 100%;
        height: 100%;
        fill: none;
        stroke: rgba(255, 255, 255, 0.1);
        stroke-width: 4;
        stroke-linecap: round;
    }

    .register-progress svg circle:last-of-type {
        stroke-dasharray: 628px;
        stroke-dashoffset: calc(628px - (628px * var(--percent)) / 100);
        stroke: #2ecc71;
    }
}

.tas::-webkit-scrollbar {
    display: none;
}

.urlPart {
    color: #29b080 !important;
    text-decoration-line: underline !important;
}
.urlPart:hover {
    color: #00ffc8 !important;
}

.namePart {
    color: #29b080 !important;
}
.namePart:hover {
    color: #00ffc8 !important;
}

.title-color {
    color: rgba(60, 232, 169, 0.69);
}

.content-color {
    color: rgba(137, 170, 158, 0.69);
}
