.background_video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    right: 0;
    bottom: 0;
    min-height: 100%;
}

.background_video_profile {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.loadingScreen_profile {
    padding-top: 30%;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    z-index: 1;
}

.loadingScreen {
    padding-top: 30%;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
}

.loadingText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: monospace;
    color: #44FFFF;
    width: 80vw;
    font-size: 1em;
    text-align: center;
    text-shadow: 0px 0px 20px #AA88FF;
}

.loadingBar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: content-box;
    height: 14px;
    width: 100%;
    display: flex;
    padding: 2px;
    box-shadow: 0px 0px 20px #AA88FF;
}

.loadingBar_profile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: content-box;
    height: 14px;
    width: 100%;
    display: flex;
    padding: 2px;
    border: 1px solid white;
}

.loadingBar .stacking_item {
    display: inline-block;
    height: 14px;
    background-color: #AA88FF;
    width: auto;
    display: flexbox;
    flex-grow: 1;
    opacity: 0.6;
}

.loadingBar .moving_item {
    position: absolute;
    display: flexbox;
    height: 14px;
    background-color: #AA88FF;
    animation-name: fancy_bar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    opacity: 0.6;
}

.loading_label {
    position: absolute;
    right: 1%;
    bottom: 25%;
    font-family: monospace;
    color: #44FFFF;
    width: auto;
    height: auto;
    font-size: 0.8em;
    text-align: center;
    text-shadow: 2px 2px 8px #DD00FF;
}

.loading_logo {
    width: 4rem;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    animation-name: spin;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

@keyframes fancy_bar {
    0% {
        left: calc(0%);
        width: 10%;
    }

    20% {
        left: 20%;
        width: 60%;
    }

    40% {
        left: calc(90% - 2px);
        width: 10%;
    }

    50% {
        left: calc(90% - 2px);
        width: 10%;
    }

    70% {
        left: 20%;
        width: 60%;
    }

    90% {
        left: calc(0%);
        width: 10%;
    }

    100% {
        left: calc(0%);
        width: 10%;
    }
}

@keyframes spin {
    100% {
        -webkit-transform: translateX(-50%) rotate(360deg);
        transform: translateX(-50%) rotate(360deg);
    }
}

@media only screen and (max-width: 600px) {
    .loading_label {
        position: absolute;
        right: 50%;
        bottom: 30%;
        transform: translate(50%, -50%);
    }

    .loadingScreen {
        padding-top: 80%;
    }
    .background-video {
        min-height: 100vh;
    }
}