@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #29b080;
    --lightprimary-color: #5edaae;
    --secondary-color: #fff;
    --footer-color: #9b9b9b;
    --gradient-color-stops: rgb(27, 168, 116, 0.3) 0%, transparent 70%;
    --light-gradient-color-stops: rgb(27, 168, 116, 0.1) 0%, transparent 70%;
    --gradient-linear-stops: rgba(28, 28, 28, 1) 0%, #141414 100%;
}